body {
    background-color: rgb(164, 164, 164);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.billing {
    margin-right: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
#title {
    font-size: 80px;
    background-color: rgba(255, 255, 0, 0.666);
    width: 540px;
    text-align: center;
    margin: 50px auto;
}
#page {
    margin: 0px auto;
    width: 50%;
}
#total {
    border-bottom: 1px solid black;
}
#totalPrice {
    font-size: 20px;
}