body {
    background-color: rgb(164, 164, 164);
}
#title {
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 255, 0, 0.666);
    width: 540px;
    text-align: center;
    margin: 50px auto;
}
#page {
    margin: 0px auto;
    width: 50%;
}